<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>359132474736-6nuqqvi0c4vlk4h64thgupvid50faj3f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.359132474736-6nuqqvi0c4vlk4h64thgupvid50faj3f</string>
	<key>API_KEY</key>
	<string>AIzaSyBbG_qzXkWTMes9wNaqs7Nqv9Mqww72_4w</string>
	<key>GCM_SENDER_ID</key>
	<string>359132474736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rohit.pushmynotifs</string>
	<key>PROJECT_ID</key>
	<string>pushmynotifs-51512</string>
	<key>STORAGE_BUCKET</key>
	<string>pushmynotifs-51512.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:359132474736:ios:cfd8349bd0cfff36</string>
	<key>DATABASE_URL</key>
	<string>https://pushmynotifs-51512.firebaseio.com</string>
</dict>
</plist>